/* https://github.com/jsdevspace/snake-js/tree/main/js/models */

body {
    margin: 0;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: Arial, sans-serif;
}

h1 {
    margin-bottom: 30px;
}

.game{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.background {
    width: 500px;
    height: 500px;
    border: 1px solid black;
    background-image: url("images/background.png");
    position: relative;
}

.head {
    width: 20px;
    height: 20px;
    background-image: url("images/head.png");
    position: absolute;
    
}

.buttons {
    display: flex;
    gap: 20px;
    
}

button {
    width: 130px;
    padding: 12px;

    font-size: 20px;
    cursor: pointer;
    
}

.gameover{
    display: none;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 40px;
    background: rgb(255, 255, 255);
    padding: 30px;
}

.food{
    width: 20px;
    height: 20px;
    background-image: url("images/food.png");
    position: absolute;

}

.bomb{
    width: 20px;
    height: 20px;
    background-image: url("images/bomb.png");
    position: absolute;

}

.body{
    display:none;
    width: 20px;
    height: 20px;
    background-image: url("images/body.png");
    position: absolute;

}

.timer {
    font-size: 24px;
    margin: 10px;
}

